<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-header">
			<a class="navbar-brand" href="/" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a>
		</div>

		<div class="collapse navbar-collapse" id="navigationbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/postJob" title="Subscribe"><b>Post a Job</b></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" *ngIf="!isLoggedIn">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Subscribe</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<button type="submit" (click)="checkLoginState()" class="btn btn-primary btn-block"><i class="fa fa-facebook-square"></i> Sign in with Facebook</button>
										</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="dropdown" *ngIf="isLoggedIn">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="userImg" src="" class="profile-image img-circle"/> <font id="username"></font> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<button type="submit" (click)="logOut()" class="btn btn-primary btn-block"><i class="fa fa-facebook-square"></i> Logout</button>
										</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>


		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div class="container top-buffer">
	<router-outlet></router-outlet>
</div>
