:host /deep/ .index-column, :host /deep/ .index-column-header {
    text-align: right;
}

:host /deep/ .data-table .data-table-row.selected {
    background-color: #E4EDF9;
}

.top-buffer {
    margin-top: 20px;
}

body {
  background: #e2e1e0;
}
