<script async type="text/javascript">
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-91328157-1', 'auto');
    ga('send', 'pageview');

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1646263562333117";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<meta name="google-site-verification" content="dtN_8kSuZli5X3rJSr_lwToXx9CCr9KApWcOWCxcNCs" />
<meta name="google-site-verification" content="dBwBXSsbGMxqwYBck9yEKz72TAuSugQEpVsQEdh1824" />
<div class="row  top-buffer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <script async type="text/javascript" language="javascript">
            var aax_size = '728x90';
            var aax_pubname = 'ctapal-21';
            var aax_src = '302';
        </script>
        <script async type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
    </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''">{{errorMessage}}</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5>Please feel free to share this job with your friends on facebook.</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--button (click)="goBack()" class="btn btn-md btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></button-->
        <button *ngIf="showSubscribeButton" type="submit" (click)="checkLoginState()" class="card-1 btn btn-primary btn-sm"><i class="fa fa-facebook-square"></i> Subscribe</button>
        <!--div class="fb-follow pull-right" data-href="https://www.facebook.com/walkinshubadmin" data-layout="button_count" data-size="small" data-show-faces="false"></div-->
        <div class="fb-like pull-right" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h3 class="text-danger">{{walkin.title}}</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-default" *ngIf="walkin.company != ''">
                <b class="list-group-item-heading">Company</b>
                <p class="list-group-item-text">{{walkin.company}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.position != ''">
                <b class="list-group-item-heading">Position</b>
                <p class="list-group-item-text">{{walkin.position}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.location != ''">
                <b class="list-group-item-heading">Location</b>
                <p class="list-group-item-text">{{walkin.location}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.eligibility != ''">
                <b class="list-group-item-heading">Eligibility</b>
                <p class="list-group-item-text">{{walkin.eligibility}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.experience != ''">
                <b class="list-group-item-heading">Experience</b>
                <p class="list-group-item-text">{{walkin.experience}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.jobDescription != ''">
                <b class="list-group-item-heading">Job Description</b>
                <p class="list-group-item-text">{{walkin.jobDescription}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.jobRequirements != ''">
                <b class="list-group-item-heading">Job Requirements</b>
                <p class="list-group-item-text">{{walkin.jobRequirements}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.candidateProfile != ''">
                <b class="list-group-item-heading">Candidate Profile</b>
                <p class="list-group-item-text">{{walkin.candidateProfile}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.salary != ''">
                <b class="list-group-item-heading">Salary</b>
                <p class="list-group-item-text">{{walkin.salary}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.lastDate != ''">
                <b class="list-group-item-heading">Last Date</b>
                <p class="list-group-item-text">{{walkin.lastDate}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.walkinDate != ''">
                <b class="list-group-item-heading">Walkin Date</b>
                <p class="list-group-item-text">{{walkin.walkinDate}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.walkinTime != ''">
                <b class="list-group-item-heading">Walkin Time</b>
                <p class="list-group-item-text">{{walkin.walkinTime}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.companyProfile != ''">
                <b class="list-group-item-heading">Company Profile</b>
                <p class="list-group-item-text">{{walkin.companyProfile}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.howToApply != ''">
                <b class="list-group-item-heading">How To Apply</b>
                <p *ngIf="walkin.howToApply.indexOf('http') != -1"><button class="btn btn-link" (click)="openWebsite(walkin.howToApply)">Click to Apply</button></p>
                <p *ngIf="walkin.howToApply.indexOf('http') == -1" class="list-group-item-text">{{walkin.howToApply}}</p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.website != ''">
                <b class="list-group-item-heading">Website</b>
                <p class="list-group-item-text"><button class="btn btn-link" (click)="openWebsite(walkin.website)">{{walkin.website}}</button></p>
            </li>
            <li class="list-group-item list-group-item-default" *ngIf="walkin.contactDetails != ''">
                <b class="list-group-item-heading">Contact Details</b>
                <p class="list-group-item-text">{{walkin.contactDetails}}</p>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h3 class="text-danger">Similar jobs in {{walkin.location}}</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-default" *ngFor="let job of similarJobs">
                <b class="list-group-item-heading"></b>
                <!-- <button class="btn btn-link" title="Details" type="button" (click)="seeDetails(job)" title="click for details">
                  <p class="list-group-item-text">Walk-in drive at {{job.company}}</p>
              </button> -->
                <a href="/walkin/{{job.company | replaceStringPipe}}-{{job._id}}" target="_blank">Walk-in at {{job.company}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--button (click)="goBack()" class="btn btn-md btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></button-->
        <button *ngIf="showSubscribeButton" type="submit" (click)="checkLoginState()" class="card-1 btn btn-primary btn-sm"><i class="fa fa-facebook-square"></i> Subscribe</button>
        <div class="fb-like pull-right" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
    </div>
</div>
<!--button (click)="goBack()" class="btn btn-md btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></button-->
<script async type="text/javascript">
    var infolinks_pid = 2959628;
    var infolinks_wsid = 0;
</script>
<script async type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
